@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap");

:root {
  --title: "Roboto", sans-serif;
  --subtitle: "Raleway", sans-serif;
  --main-color: #553333;
  --secondary-color: #cc4422;
  --thirdly-color: #ff6600;
  --button-color: #ffff44;
  --light-text: rgb(194, 194, 194);
  --text: black;
}

h1 {
  color: var(--text);
  font-size: 5em;
  line-height: 1.2;
  text-align: start;
}

h2 {
  color: var(--text);
  line-height: 1.5;
  font-size: 4em;
  text-align: start;
}

h3 {
  color: var(--text);
  line-height: 1.5;
  font-size: 3em;
  text-align: start;
}

h4 {
  color: var(--text);
  line-height: 1.5;
  font-size: 2em;
  text-align: start;
}

h5 {
  color: var(--text);
  line-height: 1.5;
  font-size: 1em;
  text-align: start;
}

h6 {
  color: var(--text);
  line-height: 1.5;
  font-size: 1em;
  text-align: start;
}

p {
  color: var(--text);
  line-height: 1.5;
  text-align: start;
}

p.medium {
  font-size: 2em;
}

strong {
  text-align: start;
}

a {
  text-align: start;
}

a:hover {
  color: var(--button-color);
  text-decoration: none;
}

a.other:hover {
  color: var(--button-color);
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
}

.uppercase {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}

.principal-text {
  font-family: var(--title);
}

.secondary-text {
  font-family: var(--subtitle);
}

.bold {
  font-weight: bold;
}
.light-text {
  font-weight: 200;
  color: var(--light-text);
}

.light-medium-text {
  font-weight: 300;
}

.medium-text {
  font-weight: 450;
}

.strong-text {
  font-weight: 700;
}

.principal-color {
  color: var(--main-color);
}

.thirdly-color {
  color: var(--thirdly-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.white-text {
  color: white;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 15vw;
  }
  p {
    font-size: 5vw;
  }
  p.medium {
    font-size: 7.5vw;
  }
  h2 {
    font-size: 12.5vw;
  }
  h3 {
    font-size: 10vw;
  }
  h4 {
    font-size: 7.5vw;
  }
  h5 {
    font-size: 5vw;
  }
  h6 {
    font-size: 2.5vw;
  }
}

.kid {
  font-family: "Butterfly Kids", cursive;
}

.kidtest {
  font-family: "Kindergarten", sans-serif;
}
